.gallery {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.images img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.info-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none;
}
